#root {
  display: inline-block;
}

:root {
  --poker-card-color: #fbefe1;
  --base-gradient: linear-gradient(to bottom right, #0f0000, #2b0000, #720000);
  --poker-table-gradient: linear-gradient(to bottom right, #002c04, #00440b, #001d02);
  --dark-gradient: linear-gradient(to bottom right, #161616, #202020, #141414);
  --primary-border: solid 2px var(--poker-card-color);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-image: var(--base-gradient);
}

.app-container {
  display: flex;
  flex-direction: row;  
  height: 90vh;
  width: 65vw;  
  min-height: 600px;
  min-width: 1100px;
  margin: 40px 0px 0px 40px;
  border: solid 2px var(--poker-card-color);
  border-radius: 10px;
  overflow: hidden;
}

.poker-table-container {
  display: flex;  
  flex: 3;
  padding: 25px;  
  background-image: var(--dark-gradient);
  border-right: var(--primary-border);
}

.poker-table {
  position: relative;
  flex: 1;
  color: var(--poker-card-color);
  background-image: var(--poker-table-gradient);
  border: var(--primary-border);
  border-radius: 10px;
}

.poker-player {
  position: absolute;
}

#poker-player-0 { bottom: 10%; left: 50%; transform: translate(-50%, 0); }
#poker-player-1 { top: 60%; left: 10%; transform: translate(0, -50%); }
#poker-player-2 { top: 30%; left: 20%; transform: translate(-50%, -50%); }
#poker-player-3 { top: 20%; left: 50%; transform: translate(-50%, 0); }
#poker-player-4 { top: 30%; right: 20%; transform: translate(50%, -50%); }
#poker-player-5 { top: 60%; right: 10%; transform: translate(0, -50%); }

.poker-community-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offline-menu {
  flex: 1;
  background-image: var(--dark-gradient);
}